@charset "UTF-8";
/*@import 引用方式為檔案名稱(不加副檔名)*/
/* 引入的檔案原始檔名前要加下底線 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑", sans-serif;
  list-style: none;
  text-decoration: none;
  /*outline: 1px solid red;*/
}
* .container {
  max-width: 100% px;
  margin: 0 auto;
  padding: 0 5px;
}
* .blue {
  color: #0f2b87;
}
* .index-main-title {
  font-size: 2rem;
  margin: 15px 0;
}
* header {
  margin-top: 15px;
}
* header .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
* header .menu li {
  margin: 0 10px;
}
* header .menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 2px 10px;
  margin-right: 10px;
}
* header .menu li a:hover {
  background-color: #d2b5f1;
}
* .banner {
  background-image: url(images/index/Hero-Section2.png);
  display: flex;
}
* .banner .banner-image {
  width: 50%;
}
* .banner .banner-image img {
  width: 100%;
  height: auto;
}
* .banner .banner-content {
  width: 50%;
  margin: auto 0;
  padding-left: 10px;
}
* .banner .banner-content .banner-content-text .text-title {
  padding-bottom: 1rem;
}
* .banner .banner-content .banner-content-text .text-title .text-title-index, * .banner .banner-content .banner-content-text .text-title .text-title-blog {
  font-size: 4em;
  font-weight: bold;
  padding-bottom: 1rem;
}
* .banner .banner-content .text-description {
  padding-bottom: 1rem;
  line-height: 1.2em;
}
* .banner .banner-content .text-description .text-description-list {
  list-style: none;
  display: flex;
}
* .banner .banner-content .text-description .text-description-list li {
  padding: 2px 10px;
  margin-right: 10px;
}
* .banner .banner-content .text-description .text-description-list li:hover {
  background-color: #c093f1;
}

/*header RWD */
@media (max-width: 400px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .container header .banner {
    flex-direction: column;
    width: 100%;
  }
  .container header .banner .banner-image {
    width: 100%;
  }
  .container header .banner .banner-image img {
    width: 100%;
    height: auto;
  }
  .container header .banner .banner-content {
    width: 100%;
  }
  .container header .banner .banner-content .banner-content-text {
    text-align: center;
    padding: 10px;
  }
  .container header .blogcontent-newbar {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .container header .blogcontent-newbar .blog-newbar-img {
    width: 100%;
  }
  .container header .blogcontent-newbar .blog-newbar-img .blog-content-img {
    width: 100%;
    height: auto;
  }
  .container header .blogcontent-newbar .blog-newbar-text {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
.index-main .border-line {
  background-color: rgba(240, 245, 247, 0.3);
  box-shadow: #333 0px 0px 13px;
  padding: 5px;
  position: relative;
  right: 50px;
  top: 25px;
}
.index-main .border-line-reserve {
  background-color: rgba(243, 228, 241, 0.3);
  box-shadow: #333 0px 0px 13px;
  padding: 5px;
  position: relative;
  left: 50px;
  top: 25px;
}
.index-main .border-line-up {
  background-color: rgba(243, 228, 241, 0.3);
  box-shadow: #333 0px 0px 13px;
  padding: 5px;
  position: relative;
  top: -20px;
}
.index-main .index-main-service {
  width: 1000px;
  margin: 0 auto;
  background-color: #eee9e9;
  /* 測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
}
.index-main .index-main-service .index-main-service-list {
  display: flex;
  flex-wrap: wrap;
}
.index-main .index-main-service .index-main-service-list .index-main-service-image {
  width: 50%;
}
.index-main .index-main-service .index-main-service-list .index-main-service-image img {
  width: 100%;
  height: auto;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text {
  width: 50%;
  justify-content: center;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text .index-main-service-text-mark {
  padding-bottom: 15px;
  -webkit-text-decoration: underline 5px solid #6528e9;
          text-decoration: underline 5px solid #6528e9;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text .index-main-service-text-titlte {
  font-size: 30px;
  padding-bottom: 15px;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text .index-main-service-text-des {
  font-size: 18px;
  padding-bottom: 15px;
  line-height: 1.3rem;
}
.index-main .index-main-blog {
  width: 1000px;
  margin: 0 auto;
  background-color: #f0f0e1;
  /*測試對齊線
  border: 1px solid #ec0a0a; */
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}
.index-main .index-main-blog .blog-list {
  width: 1000px;
  margin: 0 auto;
  /*測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.index-main .index-main-blog .blog-list .blog-content {
  width: 30.1%;
  margin: 15px;
  /*測試對齊線
  border: 1px solid #94e70e;*/
}
.index-main .index-main-blog .blog-list .blog-content li {
  margin-bottom: 10px;
}
.index-main .index-main-blog .blog-list .blog-content .blog-content-img {
  width: 100%;
}
.index-main .index-main-blog .blog-list .blog-content .publich-date {
  font-size: 15px;
}
.index-main .index-main-blog .blog-list .blog-content .block-button .blog-content-tag {
  font-size: 18px;
}
.index-main .index-main-blog .blog-list .blog-content .block-button .blog-content-tag:hover {
  color: #e4324a;
  transition: all 0.5s;
  font-size: 22px;
}
.index-main .index-main-blog .blog-list .blog-content .block-button .blog-content-popu {
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.index-main .index-main-blog .blog-list .blog-content .block-button .blog-content-popu:hover {
  background-color: #cf4fbe;
  color: #fff;
  transition: all 0.5s;
  font-size: 22px;
}
.index-main .index-main-blog .blog-list .blog-content .blog-content-title {
  font-size: 25px;
}
.index-main .index-main-blog .blog-list .blog-content .blog-content-text {
  font-size: 18px;
  line-height: 1.2em;
}
.index-main .index-main-blog .blog-list .blog-content .block-button .blog-content-button {
  font-size: 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.index-main .index-main-blog .blog-list .blog-content .block-button .blog-content-button:hover {
  background-color: #4a47ec;
  color: #fff;
  transition: all 0.5s;
}
.index-main .index-main-blog .blog-pre-next {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index-main .index-main-blog .blog-pre-next .blog-arraw-button {
  display: flex;
  justify-content: space-between;
}
.index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-right {
  font-size: 22px;
  position: relative;
  bottom: 200px;
  left: 50px;
  background-color: rgba(12, 12, 208, 0.6);
  color: rgb(203, 194, 194);
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 12px;
}
.index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-right:hover {
  background-color: rgba(223, 204, 179, 0.6);
  color: #211f1f;
  transition: all 0.5s;
  font-size: 24px;
}
.index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-left {
  font-size: 22px;
  position: relative;
  bottom: 200px;
  right: 50px;
  background-color: rgba(12, 12, 208, 0.6);
  color: rgb(203, 194, 194);
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 12px;
}
.index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-left:hover {
  background-color: rgba(223, 204, 179, 0.6);
  color: #211f1f;
  transition: all 0.5s;
  font-size: 24px;
}
.index-main .index-main-case {
  width: 1000px;
  margin: 0 auto;
  background-color: #e2f4ec;
  /*測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  margin-bottom: 5px;
}
.index-main .index-main-case .main-case .index-main-case-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-image {
  width: 50%;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-image img {
  width: 100%;
  height: auto;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text {
  width: 50%;
  justify-content: center;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-up .index-main-case-text-mark {
  padding-bottom: 15px;
  -webkit-text-decoration: underline 5px solid #6528e9;
          text-decoration: underline 5px solid #6528e9;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-up .index-main-case-text-des {
  font-size: 18px;
  padding-bottom: 15px;
  line-height: 1.3rem;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-down {
  /*連絡按鈕*/
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-down .index-main-case-text-mark {
  padding-bottom: 15px;
  -webkit-text-decoration: underline 5px solid #6528e9;
          text-decoration: underline 5px solid #6528e9;
  padding-bottom: 20px;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-down .index-main-case-text-des {
  font-size: 18px;
  padding-bottom: 15px;
  line-height: 1.3rem;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-down .block-button {
  margin-bottom: 20px;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-down .block-button .blog-content-popu {
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.index-main .index-main-case .main-case .index-main-case-list .index-main-case-text .case-test-down .block-button .blog-content-popu:hover {
  background-color: #eabee4;
  color: #fff;
  transition: all 0.5s;
  font-size: 22px;
}
.index-main .index-main-case .main-case-podcast {
  width: 100%;
  display: flex;
}
.index-main .index-main-case .main-case-podcast .case-podcast-list {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.index-main .index-main-case .main-case-podcast .case-podcast-list .case-podcast-image {
  width: 100%;
  margin-bottom: 10px;
}
.index-main .index-main-case .main-case-podcast .case-podcast-list .main-case-podcast-content {
  border-bottom: 2px solid #5e5d5d;
  margin-bottom: 10px;
}
.index-main .index-main-case .main-case-podcast .case-podcast-list .main-case-podcast-content h3 {
  font-size: 20px;
  padding-bottom: 10px;
}
.index-main .index-main-case .main-case-podcast .case-podcast-list .main-case-podcast-content p {
  font-size: 16px;
  line-height: 1.1rem;
  margin-bottom: 10px;
}
.index-main .index-main-case .main-case-podcast .case-podcast-list .main-case-padcast-link {
  /*連絡按鈕*/
}
.index-main .index-main-case .main-case-podcast .case-podcast-list .main-case-padcast-link .block-button .blog-content-popu {
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.index-main .index-main-case .main-case-podcast .case-podcast-list .main-case-padcast-link .block-button .blog-content-popu:hover {
  background-color: #eabee4;
  color: #fff;
  transition: all 0.5s;
  font-size: 22px;
}
.index-main .index-main-newsletter {
  width: 100% px;
  margin-top: 15px;
  display: flex;
}
.index-main .index-main-newsletter .newsletter-banner-image {
  width: 50%;
}
.index-main .index-main-newsletter .newsletter-banner-image .banner-image-img {
  width: 100%;
  height: auto;
}
.index-main .index-main-newsletter .newsletter-banner-content {
  width: 50%;
  background-image: url(images/index/Hero-Section2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form {
  background-color: #eee4e4;
  padding: 25px;
}
.index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-form-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-form-text {
  font-size: 26px;
  margin-bottom: 1rem;
}
.index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form input {
  padding: 10px 20px;
  margin-bottom: 1rem;
}
.index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-from-button {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid blue;
  border-radius: 9999px;
}
.index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-from-button:hover {
  background-color: rgb(227, 137, 242);
  color: white;
  transition: all 0.5s;
}
.index-main .index-main-contact {
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 40px;
  background-color: #d2e2dd;
  /* 測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
}
.index-main .index-main-contact .index-main-contact-list {
  padding: 10px;
  list-style: none;
}
.index-main .index-main-contact .index-main-contact-list .contact-list-item {
  border-bottom: 2px solid #676666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* index-main RWD*/
@media (max-width: 400px) {
  .index-main .border-line {
    position: relative;
    right: 0px;
    top: 0px;
  }
  .index-main .border-line-reserve {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .index-main .border-line-up {
    position: relative;
    top: 0px;
  }
  .index-main .index-main-service {
    width: 100%;
    margin: 0 auto;
  }
  .index-main .index-main-service .index-main-title {
    text-align: center;
  }
  .index-main .index-main-service .main-service .index-main-service-list {
    flex-direction: column;
  }
  .index-main .index-main-service .main-service .index-main-service-list .index-main-service-image {
    width: 100%;
  }
  .index-main .index-main-service .main-service .index-main-service-list .index-main-service-image img {
    width: 100%;
    height: auto;
  }
  .index-main .index-main-service .main-service .index-main-service-list .index-main-service-text {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .index-main .index-main-service .main-service-reserve .index-main-service-list {
    flex-direction: column-reverse;
  }
  .index-main .index-main-service .main-service-reserve .index-main-service-list .index-main-service-image {
    width: 100%;
  }
  .index-main .index-main-service .main-service-reserve .index-main-service-list .index-main-service-image img {
    width: 100%;
    height: auto;
  }
  .index-main .index-main-service .main-service-reserve .index-main-service-list .index-main-service-text {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .index-main .index-main-blog {
    width: 100%;
    margin: 0 auto;
  }
  .index-main .index-main-blog .blog-list {
    width: 100%;
    margin: 0 auto;
  }
  .index-main .index-main-blog .blog-list .blog-content {
    width: 100%;
    margin: 15px 0;
  }
  .index-main .index-main-blog .blog-list .blog-content li {
    margin-bottom: 10px;
  }
  .index-main .index-main-blog .blog-list .blog-content .blog-content-img {
    width: 100%;
    height: auto;
  }
  .index-main .index-main-blog .blog-pre-next {
    width: 100%;
  }
  .index-main .index-main-blog .blog-pre-next .blog-arraw-button {
    display: flex;
    justify-content: space-between;
  }
  .index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-left {
    font-size: 22px;
    bottom: 0;
    right: 0;
    position: relative;
    background-color: rgba(12, 12, 208, 0.6);
    color: rgb(203, 194, 194);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 10px;
  }
  .index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-left:hover {
    background-color: rgba(223, 204, 179, 0.6);
    color: #211f1f;
    transition: all 0.5s;
    font-size: 24px;
  }
  .index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-right {
    font-size: 22px;
    bottom: 0;
    left: 0;
    position: relative;
    background-color: rgba(12, 12, 208, 0.6);
    color: rgb(203, 194, 194);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 10px;
    position: relative;
    background-color: rgba(12, 12, 208, 0.6);
    color: rgb(203, 194, 194);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 10px;
  }
  .index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-right:hover {
    background-color: rgba(223, 204, 179, 0.6);
    color: #211f1f;
    transition: all 0.5s;
    font-size: 24px;
  }
  .index-main .index-main-blog .blog-pre-next .blog-arraw-button .blog-list-arraw-right:hover {
    background-color: rgba(223, 204, 179, 0.6);
    color: #211f1f;
    transition: all 0.5s;
    font-size: 24px;
  }
  .index-main .index-main-case {
    width: 100%;
    margin: 0 auto;
  }
  .index-main .index-main-case .main-case .index-main-case-list {
    flex-direction: column-reverse;
  }
  .index-main .index-main-case .main-case .index-main-case-list .index-main-case-image {
    width: 100%;
  }
  .index-main .index-main-case .main-case .index-main-case-list .index-main-case-image img {
    width: 100%;
    height: auto;
  }
  .index-main .index-main-case .main-case .index-main-case-list .index-main-case-text {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .index-main .index-main-case .main-case-podcast {
    width: 100%;
    /*display:flex ;*/
    flex-wrap: wrap;
    justify-content: center;
  }
  .index-main .index-main-case .main-case-podcast .case-podcast-list {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .index-main .index-main-case .main-case-podcast .case-podcast-list .case-podcast-image {
    width: 30%;
    margin-bottom: 10px;
  }
  .index-main .index-main-newsletter {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .index-main .index-main-newsletter .newsletter-banner-image {
    width: 100%;
  }
  .index-main .index-main-newsletter .newsletter-banner-image img {
    width: 100%;
    height: auto;
  }
  .index-main .index-main-newsletter .newsletter-banner-content {
    width: 100%;
    background-image: url(images/index/Hero-Section2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form {
    background-color: #eee4e4;
    padding: 25px;
    text-align: center;
  }
  .index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-form-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-form-text {
    font-size: 26px;
    margin-bottom: 1rem;
  }
  .index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form input {
    padding: 10px 20px;
    margin-bottom: 1rem;
  }
  .index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-from-button {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid blue;
    border-radius: 9999px;
  }
  .index-main .index-main-newsletter .newsletter-banner-content .newsletter-content-form .newsletter-from-button:hover {
    background-color: rgb(227, 137, 242);
    color: white;
    transition: all 0.5s;
  }
  .index-main .index-main-contact {
    width: 100%;
    margin-top: 10px;
  }
}
.blog-main .blog-newbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
.blog-main .blog-newbar .blog-newbar-img {
  width: 50%;
}
.blog-main .blog-newbar .blog-newbar-img img {
  width: 100%;
  height: auto;
}
.blog-main .blog-newbar .blog-newbar-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-main .blog-newbar .blog-newbar-text li {
  margin-left: 15px;
  margin-bottom: 15px;
}
.blog-main .blog-newbar .blog-newbar-text .publich-date {
  font-size: 15px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-tag {
  font-size: 18px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-tag:hover {
  color: #e4324a;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-popu {
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-popu:hover {
  background-color: #eabee4;
  color: #fff;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-newbar .blog-newbar-text .blog-content-title {
  font-size: 25px;
}
.blog-main .blog-newbar .blog-newbar-text .blog-content-text {
  font-size: 18px;
  line-height: 1.2em;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-button {
  font-size: 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-button:hover {
  background-color: #4a47ec;
  color: #fff;
  transition: all 0.5s;
}
.blog-main .blog-serch {
  width: 1000px;
  margin: 0 auto;
  /*測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
  margin-top: 20px;
  display: flex;
  padding: 10px;
}
.blog-main .blog-serch .blog-serch-input {
  width: 70%;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.blog-main .blog-serch .blog-serch-button {
  width: 20%;
  height: 30px;
  font-size: 18px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.blog-main .blog-serch .blog-serch-button:hover {
  background-color: #0056b3;
  transition: all 0.3s ease-in-out;
}
.blog-main .blog-list {
  width: 1000px;
  margin: 0 auto;
  background-color: #fae8e8;
  /*測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.blog-main .blog-list .blog-content {
  width: 30.1%;
  margin: 15px;
  /*測試對齊線
  border: 1px solid #94e70e;*/
}
.blog-main .blog-list .blog-content li {
  margin-bottom: 10px;
}
.blog-main .blog-list .blog-content .blog-content-img {
  width: 100%;
}
.blog-main .blog-list .blog-content .publich-date {
  font-size: 15px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-tag {
  font-size: 18px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-tag:hover {
  color: #e4324a;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-popu {
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-popu:hover {
  background-color: #cf4fbe;
  color: #fff;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-list .blog-content .blog-content-title {
  font-size: 25px;
}
.blog-main .blog-list .blog-content .blog-content-text {
  font-size: 18px;
  line-height: 1.2em;
}
.blog-main .blog-list .blog-content .block-button .blog-content-button {
  font-size: 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-button:hover {
  background-color: #4a47ec;
  color: #fff;
  transition: all 0.5s;
}
.blog-main .blog-pagination {
  width: 1000px;
  margin: 0 auto;
  /*測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
}
.blog-main .blog-pagination a {
  padding-right: 15px;
  color: rgb(37, 7, 119);
}
.blog-main .blog-pagination .blog-pagination-button, .blog-main .blog-pagination .blog-pagination-number, .blog-main .blog-pagination .blog-pagination-dots {
  width: 30px;
  margin: 1 5px;
  padding: 2px 9px;
  border-radius: 5px;
  cursor: pointer;
}
.blog-main .blog-pagination .blog-pagination-button:hover, .blog-main .blog-pagination .blog-pagination-number:hover, .blog-main .blog-pagination .blog-pagination-dots:hover {
  background-color: #60eebc;
  transition: all 0.3s ease-in-out;
}
.blog-main .blog-pagination .blog-pagination-button.active, .blog-main .blog-pagination .blog-pagination-number.active, .blog-main .blog-pagination .blog-pagination-dots.active {
  color: #0056b3;
  text-decoration: underline;
}

/* blog-main RWD */
@media (max-width: 400px) {
  .blog-main .blog-newbar {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .blog-main .blog-newbar .blog-newbar-img {
    width: 100%;
  }
  .blog-main .blog-newbar .blog-newbar-img .blog-content-img {
    width: 100%;
    height: auto;
  }
  .blog-main .blog-newbar .blog-newbar-text {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .blog-main .blog-serch {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-main .blog-serch .blog-serch-input {
    width: 80%;
    margin-bottom: 10px;
  }
  .blog-main .blog-serch .blog-serch-button {
    width: 80%;
  }
  .blog-main .blog-list {
    width: 100%;
    margin: 0 auto;
  }
  .blog-main .blog-list .blog-content {
    width: 100%;
    margin: 15px 0;
  }
  .blog-main .blog-list .blog-content li {
    margin-bottom: 10px;
  }
  .blog-main .blog-list .blog-content .blog-content-img {
    width: 100%;
    height: auto;
  }
  .blog-main .blog-pagination {
    width: 100%;
    margin-top: 20px;
  }
}
.blogcontent-newbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
.blogcontent-newbar .blog-newbar-img {
  width: 50%;
}
.blogcontent-newbar .blog-newbar-img img {
  width: 100%;
  height: auto;
}
.blogcontent-newbar .blog-newbar-text {
  width: 50%;
  background-image: url(images/index/Hero-Section2.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blogcontent-newbar .blog-newbar-text li {
  margin-left: 15px;
  margin-bottom: 15px;
}
.blogcontent-newbar .blog-newbar-text .publich-date {
  font-size: 20px;
}
.blogcontent-newbar .blog-newbar-text .block-button .blog-content-tag {
  font-size: 24px;
}
.blogcontent-newbar .blog-newbar-text .block-button .blog-content-tag:hover {
  color: #e4324a;
  transition: all 0.5s;
  font-size: 24px;
}
.blogcontent-newbar .blog-newbar-text .block-button .blog-content-popu {
  font-size: 22px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blogcontent-newbar .blog-newbar-text .block-button .blog-content-popu:hover {
  background-color: #eabee4;
  color: #fff;
  transition: all 0.5s;
  font-size: 24px;
}
.blogcontent-newbar .blog-newbar-text .blog-content-title {
  font-size: 25px;
}
.blogcontent-newbar .blog-newbar-text .blog-content-text {
  font-size: 18px;
}

.blogcontent-main {
  width: 1000px;
  margin: 0 auto;
  /*測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
}
.blogcontent-main .blog-content-article {
  background-color: #f3f5ed;
}
.blogcontent-main .blog-content-article .article-style-h2 {
  font-size: 36px;
  font-weight: bold;
  color: blue;
  padding: 10px;
}
.blogcontent-main .blog-content-article .article-style-h3 {
  font-size: 28px;
  color: rgb(128, 128, 241);
  padding: 10px;
}
.blogcontent-main .blog-content-article .article-style-p {
  font-size: 20px;
  color: black;
  padding: 10px;
  line-height: 1.2rem;
}
.blogcontent-main .blog-content-article .article-style-img {
  width: 70%;
  height: auto;
  margin: 10px 0;
}
.blogcontent-main .blog-content-article .article-style-ol {
  font-size: 20px;
  color: black;
  padding: 10px;
  line-height: 1.2rem;
  padding-left: 35px;
}
.blogcontent-main .blog-content-article .article-style-ol li {
  list-style: decimal;
}
.blogcontent-main .blog-content-article .article-style-ul {
  font-size: 20px;
  color: black;
  padding: 10px;
  line-height: 1.2rem;
  padding-left: 35px;
}
.blogcontent-main .blog-content-article .article-style-ul li {
  list-style: disc;
}
.blogcontent-main .blog-content-article .tip {
  background-color: #c093f1;
  line-height: 1.2em;
  width: 80%;
  padding: 20px;
  margin: 10px auto;
  border-radius: 9999px;
}
.blogcontent-main .pre-next {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blogcontent-main .pre-next .arraw-button {
  display: flex;
  justify-content: space-around;
}
.blogcontent-main .pre-next .arraw-button .blog-content-arraw {
  font-size: 22px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blogcontent-main .pre-next .arraw-button .blog-content-arraw:hover {
  background-color: #eabee4;
  color: #fff;
  transition: all 0.5s;
  font-size: 24px;
}

/* blogcontent-main RWD */
@media (max-width: 400px) {
  .blogcontent-main {
    width: 100%;
    margin: 0 auto;
  }
  .blogcontent-main .blog-content-article .article-style-h2 {
    font-size: 28px;
    font-weight: bold;
    color: blue;
    padding: 10px;
  }
}
.index-footer, .blog-footer, .blogcontent-footer {
  width: 1000px;
  margin: 0 auto;
  background-color: #f8f3f3;
  /*測試對齊線
  border: 1px solid #ec0a0a;
  box-sizing: border-box;*/
  margin-top: 10px;
  padding: 10px;
}
.index-footer .contact, .blog-footer .contact, .blogcontent-footer .contact {
  display: flex;
  justify-content: space-between;
}
.index-footer .contact .blog-footer-eamil, .blog-footer .contact .blog-footer-eamil, .blogcontent-footer .contact .blog-footer-eamil {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 10px;
}
.index-footer .contact .blog-footer-social .social-list, .blog-footer .contact .blog-footer-social .social-list, .blogcontent-footer .contact .blog-footer-social .social-list {
  display: flex;
}
.index-footer .contact .blog-footer-social .social-list li, .blog-footer .contact .blog-footer-social .social-list li, .blogcontent-footer .contact .blog-footer-social .social-list li {
  padding: 2px 10px;
  margin-right: 10px;
}
.index-footer .contact .blog-footer-social .social-list li:hover, .blog-footer .contact .blog-footer-social .social-list li:hover, .blogcontent-footer .contact .blog-footer-social .social-list li:hover {
  background-color: #c093f1;
}
.index-footer .copyright, .blog-footer .copyright, .blogcontent-footer .copyright {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

/* index-footer RWD */
@media (max-width: 400px) {
  .index-footer, .blog-footer, .blogcontent-footer {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .index-footer .contact, .blog-footer .contact, .blogcontent-footer .contact {
    flex-direction: column;
    align-items: center;
  }
  .index-footer .contact .blog-footer-eamil, .blog-footer .contact .blog-footer-eamil, .blogcontent-footer .contact .blog-footer-eamil {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .index-footer .contact .blog-footer-social .social-list, .blog-footer .contact .blog-footer-social .social-list, .blogcontent-footer .contact .blog-footer-social .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .index-footer .contact .blog-footer-social .social-list li, .blog-footer .contact .blog-footer-social .social-list li, .blogcontent-footer .contact .blog-footer-social .social-list li {
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=style.css.map */