@charset "UTF-8";
/*@import 引用方式為檔案名稱(不加副檔名)*/
/* 引入的檔案原始檔名前要加下底線 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑", sans-serif;
  list-style: none;
  text-decoration: none;
}
* .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5px;
}
* .blue {
  color: #0f2b87;
}
* header {
  margin-top: 15px;
}
* header .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
* header .menu li {
  margin: 0 10px;
}
* header .menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 2px 10px;
  margin-right: 10px;
}
* header .menu li a:hover {
  background-color: #d2b5f1;
}
* .banner {
  background-image: url(images/index/Hero-Section2.png);
  display: flex;
}
* .banner .banner-image {
  width: 50%;
  margin-top: 15px;
}
* .banner .banner-image img {
  width: 100%;
  height: auto;
}
* .banner .banner-content {
  width: 50%;
  margin: auto 0;
  padding-left: 10px;
}
* .banner .banner-content .banner-content-text .text-title {
  padding-bottom: 1rem;
}
* .banner .banner-content .banner-content-text .text-title .text-title-index, * .banner .banner-content .banner-content-text .text-title .text-title-blog {
  font-size: 4em;
  font-weight: bold;
  padding-bottom: 1rem;
}
* .banner .banner-content .text-description {
  padding-bottom: 1rem;
}
* .banner .banner-content .text-description .text-description-list {
  list-style: none;
  display: flex;
}
* .banner .banner-content .text-description .text-description-list li {
  padding: 2px 10px;
  margin-right: 10px;
}
* .banner .banner-content .text-description .text-description-list li:hover {
  background-color: #c093f1;
}

@media (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
  header .banner {
    flex-direction: column;
    width: 100%;
  }
  header .banner .banner-image {
    width: 100%;
  }
  header .banner .banner-image img {
    width: 100%;
    height: auto;
  }
  header .banner .banner-content {
    width: 100%;
  }
}
.index-main .index-main-service {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ec0a0a;
  box-sizing: border-box;
}
.index-main .index-main-service .index-main-service-list {
  display: flex;
  flex-wrap: wrap;
}
.index-main .index-main-service .index-main-service-list .index-main-service-image {
  width: 50%;
}
.index-main .index-main-service .index-main-service-list .index-main-service-image img {
  width: 100%;
  height: auto;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text {
  width: 50%;
  justify-content: center;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text .index-main-service-text-mark {
  padding-bottom: 15px;
  -webkit-text-decoration: underline 5px solid #6528e9;
          text-decoration: underline 5px solid #6528e9;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text .index-main-service-text-titlte {
  font-size: 30px;
  padding-bottom: 15px;
}
.index-main .index-main-service .index-main-service-list .index-main-service-text .index-main-service-text-des {
  font-size: 18px;
  padding-bottom: 15px;
}
.index-main .index-main-blog {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ec0a0a;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.index-main .index-main-exam {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ec0a0a;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.blog-main .blog-newbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
.blog-main .blog-newbar .blog-newbar-img {
  width: 50%;
}
.blog-main .blog-newbar .blog-newbar-img img {
  width: 100%;
  height: auto;
}
.blog-main .blog-newbar .blog-newbar-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-main .blog-newbar .blog-newbar-text li {
  margin-left: 15px;
  margin-bottom: 15px;
}
.blog-main .blog-newbar .blog-newbar-text .publich-date {
  font-size: 15px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-tag {
  font-size: 18px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-tag:hover {
  color: #e4324a;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-popu {
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-popu:hover {
  background-color: #eabee4;
  color: #fff;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-newbar .blog-newbar-text .blog-content-title {
  font-size: 25px;
}
.blog-main .blog-newbar .blog-newbar-text .blog-content-text {
  font-size: 18px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-button {
  font-size: 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-newbar .blog-newbar-text .block-button .blog-content-button:hover {
  background-color: #4a47ec;
  color: #fff;
  transition: all 0.5s;
}
.blog-main .blog-serch {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ec0a0a;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  padding: 10px;
}
.blog-main .blog-serch .blog-serch-input {
  width: 70%;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.blog-main .blog-serch .blog-serch-button {
  width: 20%;
  height: 30px;
  font-size: 18px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.blog-main .blog-serch .blog-serch-button:hover {
  background-color: #0056b3;
  transition: all 0.3s ease-in-out;
}
.blog-main .blog-list {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ec0a0a;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.blog-main .blog-list .blog-content {
  width: 30.1%;
  margin: 15px;
  border: 1px solid #94e70e;
}
.blog-main .blog-list .blog-content li {
  margin-bottom: 10px;
}
.blog-main .blog-list .blog-content .blog-content-img {
  width: 100%;
}
.blog-main .blog-list .blog-content .publich-date {
  font-size: 15px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-tag {
  font-size: 18px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-tag:hover {
  color: #e4324a;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-popu {
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-popu:hover {
  background-color: #cf4fbe;
  color: #fff;
  transition: all 0.5s;
  font-size: 22px;
}
.blog-main .blog-list .blog-content .blog-content-title {
  font-size: 25px;
}
.blog-main .blog-list .blog-content .blog-content-text {
  font-size: 18px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-button {
  font-size: 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}
.blog-main .blog-list .blog-content .block-button .blog-content-button:hover {
  background-color: #4a47ec;
  color: #fff;
  transition: all 0.5s;
}
.blog-main .blog-pagination {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ec0a0a;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
}
.blog-main .blog-pagination a {
  padding-right: 15px;
  color: rgb(37, 7, 119);
}
.blog-main .blog-pagination .blog-pagination-button, .blog-main .blog-pagination .blog-pagination-number, .blog-main .blog-pagination .blog-pagination-dots {
  width: 30px;
  margin: 1 5px;
  padding: 2px 9px;
  border-radius: 5px;
  cursor: pointer;
}
.blog-main .blog-pagination .blog-pagination-button:hover, .blog-main .blog-pagination .blog-pagination-number:hover, .blog-main .blog-pagination .blog-pagination-dots:hover {
  background-color: #60eebc;
  transition: all 0.3s ease-in-out;
}
.blog-main .blog-pagination .blog-pagination-button.active, .blog-main .blog-pagination .blog-pagination-number.active, .blog-main .blog-pagination .blog-pagination-dots.active {
  color: #0056b3;
  text-decoration: underline;
}

.blog-footer {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ec0a0a;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
}
.blog-footer .contact {
  display: flex;
  justify-content: space-between;
}
.blog-footer .contact .blog-footer-eamil {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 10px;
}
.blog-footer .contact .blog-footer-social .social-list {
  display: flex;
}
.blog-footer .contact .blog-footer-social .social-list li {
  padding: 2px 10px;
  margin-right: 10px;
}
.blog-footer .contact .blog-footer-social .social-list li:hover {
  background-color: #c093f1;
}
.blog-footer .copyright {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */